@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
    
}
 ::-webkit-scrollbar{
    display: none;
} 
#root{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.60)), url("../../Data/Images/Wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}